
.search-btns {
    position: absolute;
    right: 160px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #ff1e3b;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}


.search-btns:hover {
    background-color: #45a049;
}

.search-btns i {
    font-size: 18px;
}

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px 10px;
    margin-top: -30px;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
    display: inline;
}

header h1 span.intelli {
    color:navy;
}

header h1 span.host {
    color: burlywood;
}


header p {
    font-size: 1.5rem;
    margin-top: 10px;
}




h2 {
    font-size: 2rem;
    color: #e91e63;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.rooms {
    padding: 40px 20px;
   
}

.room-list {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: nowrap;
}

.room-item {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 32%;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.room-item:hover {
    transform: scale(1.05);
}

.room-item img {
    width: 100%;
    height: 200px; /* Set a fixed height for all images */
    object-fit: cover; /* Ensure images cover the space without distortion */
    border-radius: 8px;
}

.room-item h3 {
    color: #1e3a8a;
    margin-top: 10px;
}

.room-item p {
    color: #555;
    font-size: 1rem;
}



.services {
    padding: 40px 20px;
}

.service-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.service-item {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.service-item:hover {
    transform: scale(1.05);
}

.service-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.service-item h3 {
    color: #e91e63;
    margin-top: 10px;
}

.service-item p {
    color: #555;
    font-size: 1rem;
}


.security {
    padding: 40px 20px;
   
}

.security-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: nowrap;
}

.security-item {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 25%;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.security-item:hover {
    transform: scale(1.05);
}

.security-item img {
    width: 100%;
    height: 200px; /* Set a fixed height for all images */
    object-fit: cover; /* Ensure images cover the space without distortion */
    border-radius: 8px;
}

.security-item h3 {
    color: #1e3a8a;
    margin-top: 10px;
}

.security-item p {
    color: #555;
    font-size: 1rem;
}

footer {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer p {
    margin: 0;
}


/*.........................768pixel..................*/

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 1.7rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    .room-list {
       display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .room-item{
        width: 100%;
        margin: 10px 0;
    }

    .service-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .service-item {
        width: 100%;
    }

    .security-list {
        grid-template-columns: repeat(2,1fr);
        display: grid;
    }

    .security-item {
        width: 100%;
        margin: 10px 0;
    }
}