@media screen and (max-width: 360px) {

    
    header {
        background-color: #3498db;
        color: white;
        text-align: center;
        padding: 15px 8px;
        margin-top: -60px;
    }

    header h1 {
        font-size: 1.5rem;
        margin: 0;
        display: inline;
        color: white;
    }

    header h1 span.intelli {
        color: navy;
    }

    header h1 span.host {
        color: burlywood;
    }

    header p {
        font-size: 1rem;
        margin-top: 8px;
    }

    .about-us {
        background-color: lightseagreen;
        padding: 30px 10px;
        color: #fff;
        margin-top: 0;
        position: relative;
    }

    .container {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        margin-bottom: 100px;
    }

    .about-content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 100px;
       
    }

    .about-left {
        width: 100%;
        text-align: justify;
        margin-top: -360px;
    }

    .about-left h2 {
        font-size: 22px;
        font-weight: bold;
        color: wheat;
        margin-bottom: 10px;
        text-align: center;
    }

    .about-left h3 {
        font-size: 18px;
        color: wheat;
        margin-top: 20px;
    }

    .about-left p {
        font-size: 14px;
        color: #f2f2f2;
        line-height: 1.2;
        font-style: normal;
    }

    .about-left ul li {
        font-size: 10px;
        font-style: normal;
        line-height: 1.5; 
        margin-right: 10px;
        width: 100%;
        text-align:left;
        text-align: justify;
       
    }

   
   
    .about-right {
        width: 100%;
        margin-top: 20px;
    }

    .about-right img {
        width: 100%;
        border-radius: 8px;
        max-height: 250px;
        object-fit: cover;
    }

    .message {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 30px;
    }
    
    .message-text {
        width: 100%;
        margin-right: 0;
        align-items: center;
    }
    
    .message-img {
        width: 60%;
        margin-left: 0;
        margin-top: 15px;
    }
    
    .message-img-text {
        font-size: 16px;
        padding: 0 15px;
    }
    
    .message-text h2 {
        font-size: 18px;
        text-align: center;
    }
    
    .name {
        color:palegoldenrod; 
        font-size: 14px;
        
    }
    
    .message-text p {
        font-size: 14px;
        text-align: center;
        text-align: justify;
    }
    
    .message:nth-child(even) {
        flex-direction: column-reverse;
    }
    
    .message:nth-child(even) .message-img {
        width: 60%;
        margin-right: 0;
        margin-left: 0;
    }
    
    .message:nth-child(even) .message-text {
        text-align: left;
    }
    

    .community-heading {
        font-size: 20px;
        padding: 15px 0;
    }

    .our-community .community-images {
        grid-template-columns: repeat(2, 1fr);
    }

    .our-community .community-images img {
        height: 200px;
        width: 160px;
    }


}




@media screen and (max-width: 412px) {

    header {
        background-color: #3498db;
        color: white;
        text-align: center;
        padding: 15px 8px;
        margin-top: -60px;
    }

    header h1 {
        font-size: 1.5rem;
        margin: 0;
        display: inline;
        color: white;
    }

    header h1 span.intelli {
        color: navy;
    }

    header h1 span.host {
        color: burlywood;
    }

    header p {
        font-size: 1rem;
        margin-top: 8px;
    }

    .about-us {
        background-color: lightseagreen;
        padding: 30px 10px;
        color: #fff;
        margin-top: 0;
        position: relative;
    }

    .container {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .about-content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 20px;
    }

    .about-left {
        width: 100%;
        text-align: justify;
        margin-top: -360px;
    }

    .about-left h2 {
        font-size: 22px;
        font-weight: bold;
        color: wheat;
        margin-bottom: 10px;
        text-align: center;
    }

    .about-left h3 {
        font-size: 18px;
        color: wheat;
        margin-top: 20px;
    }

    .about-left p {
        font-size: 14px;
        color: #f2f2f2;
        line-height: 1.2;
        font-style: normal;
    }

    .about-left ul li {
        font-size: 10px;
        font-style: normal;
        line-height: 1.5; 
        margin-right: 10px;
        width: 100%;
        text-align:left;
        text-align: justify;
    }

    .about-right {
        width: 100%;
        margin-top: 20px;
    }

    .about-right img {
        width: 100%;
        border-radius: 8px;
        max-height: 250px;
        object-fit: cover;
    }

    .message {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 30px;
    }
    
    .message-text {
        width: 100%;
        margin-right: 0;
        align-items: center;
    }
    
    .message-img {
        width: 60%;
        margin-left: 0;
        margin-top: 15px;
    }
    
    .message-img-text {
        font-size: 16px;
        padding: 0 15px;
    }
    
    .message-text h2 {
        font-size: 18px;
        text-align: center;
    }
    
    .name {
        color: palegoldenrod; 
        font-size: 14px;
    }
    
    .message-text p {
        font-size: 14px;
        text-align: center;
        text-align: justify;
    }
    
    .message:nth-child(even) {
        flex-direction: column-reverse;
    }
    
    .message:nth-child(even) .message-img {
        width: 60%;
        margin-right: 0;
        margin-left: 0;
    }
    
    .message:nth-child(even) .message-text {
        text-align: left;
    }

    .community-heading {
        font-size: 20px;
        padding: 15px 0;
    }

    .our-community .community-images {
        grid-template-columns: repeat(2, 1fr);
    }

    .our-community .community-images img {
        height: 200px;
        width: 160px;
    }
}

@media screen and (max-width: 428px) and (min-width: 361px) {
    header {
        background-color: #3498db;
        color: white;
        text-align: center;
        padding: 15px 8px;
        margin-top: -60px;
    }

    header h1 {
        font-size: 1.5rem;
        margin: 0;
        display: inline;
        color: white;
    }

    header h1 span.intelli {
        color: navy;
    }

    header h1 span.host {
        color: burlywood;
    }

    header p {
        font-size: 1rem;
        margin-top: 8px;
    }

    .about-us {
        background-color: lightseagreen;
        padding: 30px 10px;
        color: #fff;
        margin-top: 0;
        position: relative;
    }

    .container {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .about-content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 20px;
    }

    .about-left {
        width: 100%;
        text-align: justify;
        margin-top: -320px;
    }

    .about-left h2 {
        font-size: 22px;
        font-weight: bold;
        color: wheat;
        margin-bottom: 10px;
        text-align: center;
    }

    .about-left h3 {
        font-size: 18px;
        color: wheat;
        margin-top: 20px;
    }

    .about-left p {
        font-size: 14px;
        color: #f2f2f2;
        line-height: 1.2;
        font-style: normal;
    }

    .about-left ul li {
        font-size: 10px;
        font-style: normal;
        line-height: 1.5;
        margin-right: 10px;
        width: 100%;
        text-align: left;
        text-align: justify;
    }

    .about-right {
        width: 100%;
        margin-top: 20px;
    }

    .about-right img {
        width: 100%;
        border-radius: 8px;
        max-height: 350px;
        object-fit: cover;
    }

    .message {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 30px;
    }

    .message-text {
        width: 100%;
        margin-right: 0;
        align-items: center;
    }

    .message-img {
        width: 40%;
        margin-left: 0;
        margin-top: 15px;
    }

    .message-img-text {
        font-size: 16px;
        padding: 0 15px;
    }

    .message-text h2 {
        font-size: 18px;
        text-align: center;
    }

    .name {
        color: palegoldenrod;
        font-size: 14px;
    }

    .message-text p {
        font-size: 14px;
        text-align: center;
        text-align: justify;
    }

    .message:nth-child(even) {
        flex-direction: column-reverse;
    }

    .message:nth-child(even) .message-img {
        width: 40%;
        margin-right: 0;
        margin-left: 0;
    }

    .message:nth-child(even) .message-text {
        text-align: left;
    }

    .community-heading {
        font-size: 20px;
        padding: 15px 0;
    }

    .our-community .community-images {
        grid-template-columns: repeat(2, 1fr);
    }

    .our-community .community-images img {
        height: 300px;
        width: 250px;
    }
}

