
@media (max-width: 360px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: wheat;
        padding: 5px 10px;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 10;
    }

    .logo img {
        height: 50px;
        margin-right: 20px;
    }

    .nav-links {
        display: none;
    }

    .icons {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .search-container {
        display: flex;
        align-items: center;
        position: relative;
    }

    .search-input {
        padding: 8px;
        font-size: 10px;
        border-radius: 12px;
        border: 1px solid #ccc;
        outline: none;
        width: 100%;
        padding-right: 60px;
    }

    .search-btn {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: #ff1e3b;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .search-btn i {
        font-size: 14px;
    }

    .search-btn:hover {
        background-color: #45a049;
    }

    .icon {
        color: #ff1e3b;
        font-size: 20px;
        text-decoration: none;
    }

    .icon:hover {
        color: royalblue;
    }

    .whatsapp-link {
        display: inline-block;
        text-decoration: none;
    }

    .whatsapp-image {
        width: 25px;
        height: 25px;
        object-fit: contain;
        display: block;
    }

    .whatsapp-link:hover .whatsapp-image {
        width: 30px;
        height: 30px;
        transition: all 0.1s ease;
    }

    .phone-icon {
        font-size: 20px;
    }

    
    .auth-modal-content {
        width: 75%; 
        padding: 10px;
    }
    
    .auth-form h2 {
        font-size: 1.5rem;
    }
    
    .auth-form input,
    .auth-form .submit-btn {
        width: 95%;
        font-size: 12px;
    }
    
    .auth-btn {
        font-size: 1rem;
        padding: 6px 12px;
    }
    
    .menu-btn {
        width: 22px;
        font-size: 12px;
        padding: 4px;
        height: 25px;
    }
    
    .dropdown-menu {
        width: 25%;
        padding-top: 50px;
    }
    
    .dropdown-menu li {
        padding: 6px 8px;
        font-size: 18px;
    }
    


    .slideshow-container {
        height: 50vh;
        width: 95%;
        margin-bottom: 50px;
    }

    
   

    .slideshow img {
        height: 50vh;
        opacity: 0.8;
    }


    .slideshow-text p {
        font-size: 14px;
        text-align: center;
        line-height: 1.5;
        top: 35px;
        width: 250px;
    }

    .slideshow-text .first-part {
        font-weight: bold;
        font-size: 22px;
    }

    .slideshow-text .second-part {
        font-style: italic;
        font-size: 18px;
    }
    .search-bar-container {  
        top: 200px;
        left: 50%;
           
    }
    
    .search-bar {
        width: 100%;
        height: 55px;
        padding: 10px;
        font-size: 15px;
        border: 2px solid #ddd;
        border-radius: 35px;
        box-sizing: border-box;
       
    }
    
    .search-bar-container button {
        width: 100px;
        font-size: 10px;
        margin-bottom: 20px;
        height: 33px;
        right: 8px;
    }

   
    
    
    .our-city {
        margin-bottom: 20px;
        padding: 10px;
        
    }
    
.city-images {
    grid-template-columns: repeat(2, 1fr);
}

.city-image {
    height: 200px;
    gap: 5px;
}

.city-name {
    font-size: 10px;
}

.our-city h2 {
    font-size: 1.5rem;
}



.template-images {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.our-template h2 {
    font-size: 1.7rem;
}

.template-images img {
    height: 200px;
}

.template-images img {
    transition: transform 0.8s ease;
    cursor: pointer;
}
.template-images img:active {
    transform: scale(2); 
}

.template-images img:focus {
    transform: scale(2);
}

.zoomed {
    transform: scale(4); 
    transition: transform 0.8s ease;
}
#chatbot-container {
    width: 60%;
    height: 300px;
    bottom: 210px;
    
}

#open-chatbot {
    font-size: 8px;
    padding: 5px 10px;
    margin-bottom: 120px;
   
}

#chatbot-header {
    font-size: 18px;
}



.video-container {
    height: 220px;
}

.play-button {
    font-size: 2.5em;
    padding: 15px;
}

.events-images {
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
    height: 350px;
}

.our-Events h2 {
    font-size: 1.3em;
}

.image-container {
    padding-top: 50%;
}

.events-images img {
    transition: transform 0.5s ease;
    cursor: pointer;
}

.events-images img:active {
    transform: scale(1.5);
}

.template-images img:focus {
    transform: scale(2);
}

.zoomed {
    transform: scale(4); 
    transition: transform 0.8s ease;
}


.footer {
    padding: 15px 10px;
    font-size: 12px;
    margin-top: 0;
  
}

.footer-nav {
    margin-bottom: 12px;
}

.footer-links { 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}


.footer-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.footer-links a:hover {
    color: #25D366;
}

.social-icon {
    color: white;
    font-size: 15px;
    margin: 0 8px;
    text-decoration: none;
}

.social-icon:hover {
    color: #25D366;
}

.footer p {
    margin: 0;
    font-size: 10px;
}

}




@media (max-width: 412px) and (min-width: 361px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: wheat;
        padding: 5px 10px;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 10;
    }

    .logo img {
        height: 40px;
        margin-right: 20px;
    }

    .nav-links {
        display: none;
    }

    .icons {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .search-container {
        display: flex;
        align-items: center;
        position: relative;
    }

    .search-input {
        padding: 8px;
        font-size: 10px;
        border-radius: 12px;
        border: 1px solid #ccc;
        outline: none;
        width: 100%;
        padding-right: 60px;
    }

    .search-btn {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: #ff1e3b;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .search-btn i {
        font-size: 14px;
    }

    .search-btn:hover {
        background-color: #45a049;
    }

    .icon {
        color: #ff1e3b;
        font-size: 20px;
        text-decoration: none;
    }

    .icon:hover {
        color: royalblue;
    }

    .whatsapp-link {
        display: inline-block;
        text-decoration: none;
    }

    .whatsapp-image {
        width: 25px;
        height: 25px;
        object-fit: contain;
        display: block;
    }

    .whatsapp-link:hover .whatsapp-image {
        width: 30px;
        height: 30px;
        transition: all 0.1s ease;
    }

    .phone-icon {
        font-size: 20px;
    }

    .auth-modal-content {
        width: 75%; 
        padding: 10px;
    }

    .auth-form h2 {
        font-size: 1.5rem;
    }

    .auth-form input,
    .auth-form .submit-btn {
        width: 95%;
        font-size: 12px;
    }

    .auth-btn {
        font-size: 1rem;
        padding: 6px 12px;
    }

    .menu-btn {
        width: 22px;
        font-size: 12px;
        padding: 4px;
        height: 25px;
    }

    .dropdown-menu {
        width: 35%;
        padding-top: 50px;
    }

    .dropdown-menu li {
        padding: 6px 8px;
        font-size: 18px;
    }

    .slideshow-container {
        height: 50vh;
        width: 60vh;
        margin-bottom: 50px;
        margin-left: 15px;
    }

    .slideshow img {
        height: 50vh;
        opacity: 0.8;
    }

    .slideshow-text p {
        font-size: 14px;
        text-align: center;
        line-height: 1.5;
        top: 35px;
        width: 250px;
    }

    .slideshow-text .first-part {
        font-weight: bold;
        font-size: 22px;
    }

    .slideshow-text .second-part {
        font-style: italic;
        font-size: 18px;
    }

    .search-bar-container {  
        top: 200px;
        left: 50%;
    }
    
    .search-bar {
        width: 100%;
        height: 55px;
        padding: 10px;
        font-size: 15px;
        border: 2px solid #ddd;
        border-radius: 35px;
        box-sizing: border-box;
    }

    .search-bar-container button {
        width: 100px;
        font-size: 10px;
        margin-bottom: 20px;
        height: 33px;
        right: 8px;
    }

    .our-city {
        margin-bottom: 20px;
        padding: 10px;
    }

    .city-images {
        grid-template-columns: repeat(2, 1fr);
    }

    .city-image {
        width: 210px;
        height: 200px;
        gap: 5px;
    }

    .city-name {
        font-size: 10px;
    }

    .our-city h2 {
        font-size: 1.7rem;
        margin-left: 100px;
    }

    .our-template {
        width: 65vh;
    }

    .template-images {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .our-template h2 {
        font-size: 1.7rem;
    }

    .template-images img {
        width: 210px;
        height: 200px;
    }

    .template-images img {
        transition: transform 0.8s ease;
        cursor: pointer;
    }

    .template-images img:active {
        transform: scale(2); 
    }

    .template-images img:focus {
        transform: scale(2);
    }

    .zoomed {
        transform: scale(4); 
        transition: transform 0.8s ease;
    }

    #chatbot-container {
        width: 60%;
        height: 300px;
        bottom: 100px;
    }

    #open-chatbot {
        font-size: 14px;
        padding: 5px 10px;
        margin-bottom: 85px;
    }

    #chatbot-header {
        font-size: 18px;
    }

    .video-container {
        height: 220px;
    }

    .play-button {
        font-size: 2.5em;
        padding: 15px;
    }

    .events-images {
        grid-template-columns: repeat(2, 1fr);
        gap: 7px;  
        right: 15px;
    }

    .our-Events h2 {
        font-size: 1.5em;
    }

    .image-container {
        padding-top: 50%;
        width: 220px;
        height: 250px;
        right: 10px;
    }

    .footer {
        padding: 15px 10px;
        font-size: 12px;
        margin-top: 0;
        width: 65vh;
    }

    .footer-nav {
        margin-bottom: 12px;
    }

    .footer-links { 
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .footer-links a {
        text-decoration: none;
        color: white;
        font-size: 20px;
    }

    .footer-links a:hover {
        color: #25D366;
    }

    .social-icon {
        color: white;
        font-size: 15px;
        margin: 0 8px;
        text-decoration: none;
    }

    .social-icon:hover {
        color: #25D366;
    }

    .footer p {
        margin: 0;
        font-size: 10px;
    }
}


@media (max-width: 414px) and (min-width: 413px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: wheat;
        padding: 5px 10px;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 10;
    }

    .logo img {
        height: 40px;
        margin-right: 20px;
    }

    .nav-links {
        display: none;
    }

    .icons {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .search-container {
        display: flex;
        align-items: center;
        position: relative;
    }

    .search-input {
        padding: 8px;
        font-size: 10px;
        border-radius: 12px;
        border: 1px solid #ccc;
        outline: none;
        width: 100%;
        padding-right: 60px;
    }

    .search-btn {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: #ff1e3b;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .search-btn i {
        font-size: 14px;
    }

    .search-btn:hover {
        background-color: #45a049;
    }

    .icon {
        color: #ff1e3b;
        font-size: 20px;
        text-decoration: none;
    }

    .icon:hover {
        color: royalblue;
    }

    .whatsapp-link {
        display: inline-block;
        text-decoration: none;
    }

    .whatsapp-image {
        width: 25px;
        height: 25px;
        object-fit: contain;
        display: block;
    }

    .whatsapp-link:hover .whatsapp-image {
        width: 30px;
        height: 30px;
        transition: all 0.1s ease;
    }

    .phone-icon {
        font-size: 20px;
    }

    .auth-modal-content {
        width: 75%; 
        padding: 10px;
    }

    .auth-form h2 {
        font-size: 1.5rem;
    }

    .auth-form input,
    .auth-form .submit-btn {
        width: 95%;
        font-size: 12px;
    }

    .auth-btn {
        font-size: 1rem;
        padding: 6px 12px;
    }

    .menu-btn {
        width: 22px;
        font-size: 12px;
        padding: 4px;
        height: 25px;
    }

    .dropdown-menu {
        width: 35%;
        padding-top: 50px;
    }

    .dropdown-menu li {
        padding: 6px 8px;
        font-size: 18px;
    }

    .slideshow-container {
        height: 50vh;
        width: 55vh;
        margin-bottom: 50px;
        margin-left: 10px;
    }

    .slideshow img {
        height: 50vh;
        opacity: 0.8;
    }

    .slideshow-text p {
        font-size: 14px;
        text-align: center;
        line-height: 1.5;
        top: 35px;
        width: 250px;
    }

    .slideshow-text .first-part {
        font-weight: bold;
        font-size: 22px;
    }

    .slideshow-text .second-part {
        font-style: italic;
        font-size: 18px;
    }

    .search-bar-container {  
        top: 200px;
        left: 50%;
    }
    
    .search-bar {
        width: 100%;
        height: 55px;
        padding: 10px;
        font-size: 15px;
        border: 2px solid #ddd;
        border-radius: 35px;
        box-sizing: border-box;
    }

    .search-bar-container button {
        width: 100px;
        font-size: 10px;
        margin-bottom: 20px;
        height: 33px;
        right: 8px;
    }

    .our-city h2 {
        font-size: 1.6rem;
    }

    .city-images {
        grid-template-columns: repeat(2, 1fr);
    }

    .city-image {
        height: 220px;
    }

    .city-name {
        font-size: 12px;
    }

    .template-images {
        grid-template-columns: repeat(2, 1fr);
    }

    .our-template h2 {
        font-size: 1.8rem;
    }

    .template-images img {
        height: 220px;
    }

    .template-images img:active {
        transform: scale(2.2);
    }

    .template-images img:focus {
        transform: scale(2.2);
    }

    .zoomed {
        transform: scale(4.2);
    }

    #chatbot-container {
        width: 65%;
        height: 330px;
        bottom: 220px;
    }

    #open-chatbot {
        font-size: 10px;
    }

    #chatbot-header {
        font-size: 20px;
    }

    .video-container {
        height: 240px;
    }

    .play-button {
        font-size: 3em;
    }

    .events-images {
        grid-template-columns: repeat(2, 1fr);
        height: 370px;
    }

    .our-Events h2 {
        font-size: 1.5rem;
    }

    .events-images img {
        transition: transform 0.6s ease;
    }

    .events-images img:active {
        transform: scale(1.6);
    }

    .footer {
        padding: 10px 12px;
    }

    .footer-nav {
        margin-bottom: 10px;
    }

    .footer-links {
        flex-wrap: wrap;
        gap: 12px;
    }

    .footer-links a {
        font-size: 22px;
    }

    .footer p {
        font-size: 12px;
    }
}



@media only screen and (max-width: 428px) and (min-width: 428px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: wheat;
        padding: 5px 10px;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 10;
    }

    .logo img {
        height: 40px;
        margin-right: 20px;
    }

    .nav-links {
        display: none;
    }

    .icons {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .search-container {
        display: flex;
        align-items: center;
        position: relative;
    }

    .search-input {
        padding: 8px;
        font-size: 10px;
        border-radius: 12px;
        border: 1px solid #ccc;
        outline: none;
        width: 100%;
        padding-right: 60px;
    }

    .search-btn {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: #ff1e3b;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .search-btn i {
        font-size: 14px;
    }

    .search-btn:hover {
        background-color: #45a049;
    }

    .icon {
        color: #ff1e3b;
        font-size: 20px;
        text-decoration: none;
    }

    .icon:hover {
        color: royalblue;
    }

    .whatsapp-link {
        display: inline-block;
        text-decoration: none;
    }

    .whatsapp-image {
        width: 25px;
        height: 25px;
        object-fit: contain;
        display: block;
    }

    .whatsapp-link:hover .whatsapp-image {
        width: 30px;
        height: 30px;
        transition: all 0.1s ease;
    }

    .phone-icon {
        font-size: 20px;
    }

    .auth-modal-content {
        width: 75%; 
        padding: 10px;
    }

    .auth-form h2 {
        font-size: 1.5rem;
    }

    .auth-form input,
    .auth-form .submit-btn {
        width: 95%;
        font-size: 12px;
    }

    .auth-btn {
        font-size: 1rem;
        padding: 6px 12px;
    }

    .menu-btn {
        width: 22px;
        font-size: 12px;
        padding: 4px;
        height: 25px;
    }

    .dropdown-menu {
        width: 35%;
        padding-top: 50px;
    }

    .dropdown-menu li {
        padding: 6px 8px;
        font-size: 18px;
    }

    .slideshow-container {
        height: 50vh;
        width: 55vh;
        margin-bottom: 50px;
        margin-left: 10px;
    }

    .slideshow img {
        height: 50vh;
        opacity: 0.8;
    }

    .slideshow-text p {
        font-size: 14px;
        text-align: center;
        line-height: 1.5;
        top: 35px;
        width: 250px;
    }

    .slideshow-text .first-part {
        font-weight: bold;
        font-size: 22px;
    }

    .slideshow-text .second-part {
        font-style: italic;
        font-size: 18px;
    }

    .search-bar-container {  
        top: 200px;
        left: 50%;
    }

    .search-bar {
        width: 100%;
        height: 55px;
        padding: 10px;
        font-size: 15px;
        border: 2px solid #ddd;
        border-radius: 35px;
        box-sizing: border-box;
    }

    .search-bar-container button {
        width: 100px;
        font-size: 10px;
        margin-bottom: 20px;
        height: 33px;
        right: 8px;
    }

    .our-city h2 {
        font-size: 1.6rem;
    }

    .city-images {
        grid-template-columns: repeat(2, 1fr);
    }

    .city-image {
        height: 220px;
    }

    .city-name {
        font-size: 12px;
    }

    .template-images {
        grid-template-columns: repeat(2, 1fr);
    }

    .our-template h2 {
        font-size: 1.8rem;
    }

    .template-images img {
        height: 220px;
    }

    .template-images img:active {
        transform: scale(2.2);
    }

    .template-images img:focus {
        transform: scale(2.2);
    }

    .zoomed {
        transform: scale(4.2);
    }

    #chatbot-container {
        width: 65%;
        height: 330px;
        bottom: 220px;
    }

    #open-chatbot {
        font-size: 10px;
    }

    #chatbot-header {
        font-size: 20px;
    }

    .video-container {
        height: 240px;
    }

    .play-button {
        font-size: 3em;
    }

    .events-images {
        grid-template-columns: repeat(2, 1fr);
        height: 370px;
    }

    .our-Events h2 {
        font-size: 1.5rem;
    }

    .events-images img {
        transition: transform 0.6s ease;
    }

    .events-images img:active {
        transform: scale(1.6);
    }

    .footer {
        padding: 10px 12px;
    }

    .footer-nav {
        margin-bottom: 10px;
    }

    .footer-links {
        flex-wrap: wrap;
        gap: 12px;
    }

    .footer-links a {
        font-size: 22px;
    }

    .footer p {
        font-size: 12px;
    }
}
